.main-view-stack {
    background-color: white;
}

/* Sidebar */

.sidebar {
    background: mix(@theme_bg_color, white, 0.5);
}

.sidebar-row {
  padding: 10px 10px;
  min-width: 26px;
  margin-top: 1px;
}

.sidebar-row:selected {
    background: shade(@theme_bg_color, 0.93);
}

.sidebar-row:selected,
.sidebar-row:selected label {
    color: shade(@theme_fg_color, 0.5);
}

.sidebar-row:selected:backdrop {
    background: shade(@theme_bg_color, 0.96);
}

.sidebar-row:selected:backdrop,
.sidebar-row:selected:backdrop label {
    color: shade(@theme_unfocused_fg_color, 0.85);
}

.icon-item:hover{
  background-color: rgba(230, 230, 230, 0.5);
}

/* The double border from the scrolled window viewport for the views */
scrolledwindow {
  border-style: none;
}

/* Path Bar */
.path-bar button { /* undecorate the buttons */
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-radius: 0;
  text-shadow: none;
  -gtk-icon-shadow: none;
  padding: 4px;
  border-width: 0px;
  margin: 0px;
}
.path-bar button:not(:checked) image { opacity: 0.8; } /* dim the icon when not checked */
.path-bar button:not(:backdrop):hover { box-shadow: inset 0 -3px @borders; }

.headers {
    border-width: 0px 0px 1px 0px;
}

.header-button {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-radius: 0;
  text-shadow: none;
  -gtk-icon-shadow: none;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}
